# This is a basic workflow to help you get started with Actions

name: Announce release

# Controls when the workflow will run
on:
  push:
   tags: '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  mainjob1:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.var }}
    permissions:
        contents: write
    steps:
      - name: Set Version
        id: version
        run: |
            echo "var=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      - uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          title: "New version of `software` is ready!"
          description: |
            `${{ github.event.release.tag_name }}`
            
            ${{ github.event.workflow_run.head_commit.message }}

            Click [here](${{ github.event.release.html_url }}) to download!
          color: 0xff91a4
          
