# This is a basic workflow to help you get started with Actions

name: KSL release

# Controls when the workflow will run
on:
  push:
   tags: '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  mainjob1:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.var }}
    permissions:
        contents: write
    steps:
      - name: Set Version
        id: version
        run: |
            echo "var=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          #status: ${{ job.status }}
          content: ${{ github.event.head_commit.message }}
          title: "${{ steps.version.outputs.var }}"
          #description: "Build and deploy to GitHub Pages"
          #image: ${{ secrets.EMBED_IMAGE }}
          color: 0x0000ff
          #url: "https://github.com/sarisia/actions-status-discord"
          username: PSProject Release
          #avatar_url: ${{ secrets.AVATAR_URL }}
          
